<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FinalDemo03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Homecontroller</display-name>
    <servlet-name>Homecontroller</servlet-name>
    <servlet-class>controller.Homecontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homecontroller</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>camnang</display-name>
    <servlet-name>camnang</servlet-name>
    <servlet-class>controller.Camnang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>camnang</servlet-name>
    <url-pattern>/camnang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hot</display-name>
    <servlet-name>Hot</servlet-name>
    <servlet-class>controller.Hot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hot</servlet-name>
    <url-pattern>/hot</url-pattern>
  </servlet-mapping>
</web-app>